$fontSize: 14px;
$color: #FFFFFF;
$fontFamily: SF UI Text;
$fontStyle: normal;
$fontWeight: 500;
$backgroundColor: #181818;

body{
    background-color: $backgroundColorRoot;
}
.container{
    margin: 0 200px;
}